<div class="team-photo">
	%%PHOTO="unlink"%%
</div>
<div class="team-meta">
	%%POSITION%%
	%%LOCATION%%
	%%WEBSITE%%
	%%PHONE%%
	%%EMAIL%%
	%%SOCIALS%%
</div>
<div class="team-content">
	%%CONTENT%%
</div>